<header class="p-3 bg-blue text-white hover:bg-lightblue">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 text-white" routerLink="/">Home</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/ResistenciasComponent">Resistencias</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/DistanciaComponent">Distancia</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/PizzasComponent">Pizza</a></li>
      </ul>
    </div>
  </div>
</header>
