<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="col-md-12">


<br>
<!-- <h1>
  {{title}}
</h1>
<hr>
<div>El doble de 3 es: {{calcular(3)}}</div>
<hr>

<div>
  <b>Matricula: {{alumnos.matricula}}</b>
</div>
<div>
  <b>Nombre: {{alumnos.nombre}}</b>
</div>
<div>
  <b>Edad: {{alumnos.edad}}</b>
</div>
<div>
  <b>Fecha de nacimiento: {{alumnos.fechaNacimiento}}</b>
</div>
<div>
  <b>Pago: {{alumnos.pago}}</b>
</div>
<hr>
<br>
<app-utl></app-utl>
<app-ievn></app-ievn> -->
<!-- <app-alumno-reactive></app-alumno-reactive> -->
<!-- <app-iric></app-iric>  -->
<!-- <app-suma></app-suma>  -->
<!-- <app-operas-bas></app-operas-bas>  -->
<router-outlet></router-outlet> 
</div>
</div>

</div>
