.input-container {
  margin-bottom: 10px;
  margin-top: 5px;
  position: relative;
}

.result {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

p{
  text-align: justify !important;
  font-size: 45px;
}
h2{
  text-align: justify !important;
  font-size: 35px;
  display: contents;
}
h4{
  text-align: justify !important;
  font-size: 45px;
}

.container {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-grid;
}
