.input-container {
  margin-bottom: 10px;
}

.result {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.Calculadora{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-grid;
  align-items: center;
}

h2, h4, p{
    text-align: justify !important ;
    font-size: 45px;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
